#pagina12 {
  display: flex;
  justify-content: center;
  background-image: url(../image/pagina08/background.webp);
}
#pagina12 form {
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  margin: 65px;
}
#pagina12 .container {
  display: flex;
  justify-content: space-between;
}
#pagina12 input[type="text"],
[type="email"] {
  display: block;
  border: solid 0px;
  border-radius: 20px;
  padding: 10px;
  width: 400px;
  background-color: #ff7400;
  color: #fff;
  font-weight: bold;
}
#pagina12 input[type="submit"] {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #424242;
  border: hidden;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.6s;
}
#pagina12 input[type="submit"]:hover {
  transform: scale(1.12);
}
#pagina12 ::placeholder {
  color: #fff;
}
#pagina12 .textBox {
  font-size: 22px;
  color: #fff;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  #pagina12 form {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 64px;
  }
  #pagina12 .container {
    display: flex;
    flex-direction: column-reverse;
  }
  #pagina12 input[type="text"],
  [type="email"] {
    width: min(300px, 80vw);
  }
  #pagina12 .textBox {
    margin-top: 30px;
    display: block;
    font-size: 22px;
    color: #fff;
    text-align: center;
  }
}
