#pagina04 .content {
  max-width: 100vw;
  height: 100%;
  background-image: url(./../image/pagina04/background.webp);
}

#pagina04 .titulo h2 {
  padding-top: 61px;
  padding-bottom: 73px;
  display: flex;
  justify-content: center;
  font-size: 27px;
  color: #424242;
  text-align: center;
}
#pagina04 h2{
  text-align: center;
}
#pagina04 p {
  text-align: center;
}
#pagina04 .buttonBox {
  display: flex;
  justify-content: center;
  padding-top: 76px;
  padding-bottom: 61px;
}
#pagina04 .resolutionBox {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
#pagina04 .resolution {
  width: 150px;
}
#pagina04 .resolution img {
  width: 150px;
}
#pagina04 .arrowBox {
  display: flex;
  justify-content: center;
}
#pagina04 .arrowBox img {
  width: 26px;
  height: 70px;
  margin-bottom: 15px;
}
#pagina04 .imgBox {
  display: flex;
  justify-content: center;
}
#pagina04 .imgBox img {
  height: 100px;
  width: auto;
}
#pagina04 .textBox p {
  height: 20px;
}
#pagina04 .plusBox,
#pagina04 .equalBox{
  height: 495px;
  display: flex;
  align-items: center;
}
#pagina04 .logoBox img{
  width: 40px;
  height: 150px;
  margin-top: 20px;
}
#pagina04 .txtBox{
  color: #fff;
  background-color: #424242;
  border-radius: 10px;
}

#pagina04 .plusBox img {
  width:40px;
  height: 40px;
}
#pagina04 .equalBox img {
  width: 40px;
  height: 23px;
}
#pagina04 .logoBox img {
  width: 150px;
}
@media screen and (max-width: 900px) {
  #pagina04 .titulo h2 {
    font-size: 22px;
  }
  #pagina04 .logoBox img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
  }
  #pagina04 p {
    font-size: 14px;
  }
  #pagina04 .resolutionBox {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  #pagina04 .plusBox,
  #pagina04 .equalBox{
    height: 100px;
  }
}