#pagina01 {
  display: grid;
  align-items: center;
}

#pagina01 Img{
  width: 45vw;
  height: 45vw;
  float: left;
}
#pagina01 .titleBox{
  text-align: center;
  font-weight: 100;
  margin: 10vw;
  margin-top: 10vw;
  margin-left: 50vw;
}
#pagina01 h1,h3{
  font-weight: 500;
}
#pagina01 h3{
  font-size: 18pt;
}
#pagina01 h1{
  font-size: 24pt;
}
#pagina01 cor{
  color: #128c66;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  #pagina01 .titleBox {
    font-size: 14px;
  }
  #pagina01 .h3mob{
    display: none;
  }
  
}
@media screen and (max-width: 1610px) {
#pagina01 .titleBox{
  text-align: center;
  font-weight: 100;
  margin: 2vw;
  margin-top: 7vw;
}
}
@media screen and (max-width: 1425px) {
#pagina01 .titleBox{
  text-align: center;
  font-weight: 100;
  margin: 2vw;
  margin-top: 7vw;
}
}
@media screen and (max-width: 1185px) {
#pagina01 h1{
  font-size: 20pt;
}
#pagina01 h3{
  font-size: 15pt;
}
}
@media screen and (max-width: 900px) {

  #pagina01 .h3mob{
    display: none;
  }
  #pagina01 h1{
    font-size: 20pt;
  }
  #pagina01 .titleBox{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding-inline: 10px;
    }
  #pagina01 .content{
    display: grid;
  }
  #pagina01{
    background-image: url("../image/pagina01/bg.webp");
    background-size: 150%;
    background-repeat: no-repeat;
    padding-bottom: 80px;
  }
  #pagina01 .contentImg{
    display: none;
}
}