#pagina01ras {
    display: grid;
    align-items: center;
}
  
  #pagina01ras Img{
    width: 50vw;
    height: 50vw;
    float: left;
}
  #pagina01ras .titleBox{
    text-align: center;
    font-weight: 100;
    margin: 10vw;
    margin-top: 20vw;
}
  #pagina01ras h1,h3{
    font-weight: 500;
  }
  #pagina01ras cor{
    color: #128c66;
    font-weight: 600;
  }
@media screen and (max-width: 600px) {
    #pagina01ras .titleBox {
      font-size: 14px;
    }
    #pagina01ras .h3mob{
      display: none;
    }
    
}
@media screen and (max-width: 900px) {

    #pagina01ras .h3mob{
      display: none;
    }
    #pagina01ras .titleBox{
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 15px;
      padding-inline: 10px;
      }
    #pagina01ras .content{
      display: grid;
    }
    #pagina01ras{
      background-image: url("../image/pagina01/bg.webp");
      background-size: 150%;
      background-repeat: no-repeat;
      padding-bottom: 80px;
    }
    #pagina01ras .contentImg{
      display: none;
  }
}
  